.customer__add{
    width: 50px;
    height: 40px;
    display: flex;
    background-color: lightblue;
    border-radius: 2px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    
}
.customer__text{
font-size: 2rem;
margin-bottom: 6px;
}
a:hover{
    text-decoration: none!important;
    color: lightblue;
}
.customer__info{
   
    display: flex;
    justify-content: space-evenly
}