<div class="label_for_CU">
    <p>Create/Update Records</p>
</div>
<form action="{% url 'update' %}" method="POST">
    {% csrf_token %}
<div class="form-group">
    <label for="product">Product Name</label>
    <input type="text" name="product"  class="product form-control " id="product" >
    <label for="price" class="price">Price</label>
    <input type="text" name="price"  class="price form-control" id="price">

        <input type="hidden" name="pk" id="pk" >
        <div class="update_Product">
            <button class="text">Update</button>
        </div>
</div>
</form>
<script>
   
</script>