
<div class="label_for_CU">
    <p>Create Sale</p>
</div>
<form action="{% url 'sale' %}" method="POST">
    {% csrf_token %}
    <label for="product">product</label>
    <select  id="selected_product" class="form-control" name="selected_product">
        <option value="none" selected='selected'>--select--</option>
        {% for read in products%}
        <option value="{{read.title}}">{{read.title}}</option>
       {% endfor %}
    </select>
    <label for="quantity">quantity</label>
    <input type="text" class="form-control" id="quantity" name="quantity">
    
    <label for="customer">customer</label>
    <select  id="selected_customer" class="form-control" name="selected_customer">
        <option value="none" selected='selected'>--select--</option>
        {% for read in customers%}
        <option value="{{read.name}}">{{read.name}}</option>
       {% endfor %}
    </select>
    
    <div class="return_product">
        <button class="return_product_text">Create</button>
    </div>
</form>
<script>
   $(function(){
       $('#selected_product').click(function(){
        var name=$('#selected_product').val()
        $.ajax({
            url:'/dashboard/sumOfQuantity/',
            type:'get',
            data:{'product':name},
            dataType:'json',
            success:function(response){
                document.getElementById('quantity').value=response.quantity
            }
        })
    
       })
      
   })
</script>