{% extends 'dashboard/main.html'%}
{% block body%}

<table class="table" id="tb" style="width: 50%;">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
        </thead>

        {% for item in items%}
        <tr>

            <td>
                {{item.title}}
                 </td>
                 <td>
                    {{item.price}}
                     </td>
                            <td>
                                 <a href="#"  class="update" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <a href="#" class="delete" data-pk={{item.pk}}>Delete</a>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div  class="container__right" id="container__right">
                    
    {% include 'dashboard/modal_for_createProduct.html'%}
               
</div> 


<script>    
 
   
    
    $(function(){

        $('.delete').click(function(){
    $.ajax({
        url:'/dashboard/product/delete/',
        type:'get',
        data:{
            'pk':$(this).attr('data-pk')
        },
        success:function(response){
            console.log('deleted product')
        }
    })
})
$('.update').click(function(){
        console.log('update');
        $.ajax({
    url:'/dashboard/product/update/',
    type:'get',
    data:{'id':$(this).attr('data-pk')},
    dataType:'json',
    success:function(data){
        console.log(data);
        document.getElementById('container__right').innerHTML=data.modal_for_updateProduct
        document.getElementById('product').value=data.data.title
        document.getElementById('price').value=data.data.price
        document.getElementById('pk').value=data.data.pk   
    }
})
    })  

    })
  </script>
{% endblock %}
