{% extends 'dashboard/main.html'%}
{% block body%}

<table class="table" id="tb">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Address
                </th>
                <th>
                    contact 
                </th>
                <th>
                    Edit</th>
                
                <th>Delete</th>
            </tr>
           
        </thead>

        {% for item in items%}
        <tr>

            <td>
                {{item.product.title}}
                 </td>
                 <td>
                    {{item.product.price}}
                     </td>
                     <td>
                        {{item.quantity}}
                         </td>
                         <td>
                            {{item.supplier.name}}
                             </td>
                             <td>
                                 {{item.supplier.address}}
                             </td>
                             <td>
                                 {{item.supplier.contact}}
                             </td>
                             <td>
                                 <a href="#"  class="update_purchase" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <span class="fa fa-arow" data-pk={{item.pk}}>Delete</span>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
<div  class="container__right" id="container__right">
                    
    {% include 'dashboard/modal_for_createPurchase.html'%}
               
</div> 
<script>
   $(function(){
       $('.update_purchase').click(function(){
           console.log($(this).attr('data-pk'));
        $.ajax({
            url:'/dashboard/purchase/product/update/',
            type:'get',
            data:{'pk':$(this).attr('data-pk')},
            dataType:'json',
            success:function(response){
                document.getElementById('container__right').innerHTML=response.modal_for_updatePurchaseProduct

            }
        })
       })
   })
</script>

{% endblock %}
