{% extends 'dashboard/main.html'%}
{% block body%}

<table class="table" id="tb">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Address
                </th>
                <th>
                    Contact 
                </th>
                <th>
                    Email
                </th>
                <th>
                    Edit</th>
                
                <th>Delete</th>
            </tr>
           
        </thead>

        {% for item in sales%}
        <tr>

            <td>
                {{item.product.title}}
                 </td>
                 <td>
                    {{item.product.price}}
                     </td>
                     <td>
                        {{item.quantity}}
                         </td>
                         <td>
                            {{item.customer.name}}
                             </td>
                             <td>
                                 {{item.customer.address}}
                             </td>
                             <td>
                                 {{item.customer.contact}}
                             </td>
                             <td>
                                 {{item.customer.email}}
                             </td>
                             <td>
                                 <a href="#"  class="update_sale" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <span class="fa fa-arow" data-pk={{item.pk}}>Delete</span>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div  class="container__right" id="container__right">

{% include 'dashboard/modal_for_createSale.html'%}               
</div> 

<script>
 $(function(){
     $('.update_sale').click(function(){
       var pk=$(this).attr('data-pk')
       console.log(pk);
       $.ajax({
           url:'/dashboard/sale/update/',
           type:'get',
           data:{
               'pk':pk
           },
           dataType:'json',
           success:function(response){
               document.getElementById('container__right').innerHTML=response.modal_for_updateSale

           }
       })
     })
 })
</script>

{% endblock %}
